.row {
  width: 100vw;
}

.error {
  color: red;
}

input[name=name] {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}

textarea[name=message] {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
