
.row {
  width: 100vw;
}

.error {
  color: red;
}

input[name=name] {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

textarea[name=message] {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}

input[name=id] {
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px dashed black;
}

.nav-item {
  padding: 10px 20px 10px 20px;
  margin: -10px 0px -10px 0px;
  text-align: center;
}

.nav-item:hover {
  transition: 0.5s ease;
  color: white;
  background-color: rgba(0,0,0,0.5)
}

.footer {
  background-color: rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .nav-item {
    padding: 0px !important;
    margin: 0px !important;
  }
}
