{% extends "base.html" %}
{% block title %} Little Free Kindness {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
{{ super() }}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8" align="center">
      <br><br>
      <h1> About </h1>
      <p>
        <i> So you wanna learn more, eh? </i>
      </p>
      <p> Hi there! Thank you for being here, and welcome to Little Free Kindness! I started this project back in August 2019 with
        a simple idea: how can I make kindness as accessible as possible? After all, given the pervasiveness of social media and the increasing
        connectedness of the world, is there some

        After many failed prototypes, I finally settled on a modeled based off that of Little Free Library. In case you're not aware of what that is, it represents a vast networks of tens of thousands of
        tiny, community-built libraries.
      </p>
    </div>

  </div>
</div>
{% endblock %}
{% block scripts %} {{ super() }}
{% endblock %}
