{% extends "base.html" %}
{% block title %} Little Free Kindness {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
{{ super() }}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8" align="center">
      <br><br>
      <h1> About </h1>
      <p>
        <i> So you wanna learn more, eh? </i>
      </p>
      <p align="justify"> Hi there! Thank you for being here, and welcome to Little Free Kindness! I started this project back in August 2019 with
        a simple idea: how can I make kindness as accessible as possible? After all, given the pervasiveness of social media and the increasing
        connectedness of the world, is there some way I can apply that idea for the betterment of our world?
        <br><br>
        After many failed prototypes, I finally settled on a modeled based off that of Little Free Library. In case you're not aware of what that is, it represents a vast networks of tens of thousands of
        tiny, community-built libraries. They each can hold a couple dozen books, and the idea is that if you see a book you like, you take it and replace what you took with a book of your choosing. In other words,
        this entire system is based off of reciprocity and trust.

        <br><br>
        Indeed, Little Free Kindness works in a similiar fashion. Much like how you're encouraged to replace the book you took, if you do "take" a kind note here, I sincerely hope you
        "replace" it by submitting a kind note of your own. Not only are you keeping this project alive, you're also having a positive influence on who-knows-how-many people see your note. Anyways,
        enough of me talking: head back to the main page and start writing!
        <hr>
        <p align="center">
          If you have any questions or comments, feel free to contact me at <a href="mailto:roger.ji.32021@gmail.com">roger.ji.32021@gmail.com</a>
        </p>
      </p>
    </div>

  </div>
</div>
{% endblock %}
{% block scripts %} {{ super() }}
{% endblock %}
