{% extends "base.html" %}
{% block title %} Wordcount hehe {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
{{ super() }}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8" align="center">
      <br><br>
      <h1> Little Free Kindness </h1>
      <p>
        <i>Leave a kind note, take a kind note!</i>
      </p>
      <p> Be a positive influence on someone's life by entering a kind message. It doesn't have to be anything fancy; even something
        as simple as "Have a nice day!" is enough to change someone's life for the better. So whatcha waiting for? Go write a nice note and make the world a (slightly) better place!
      </p>
      <hr>
      <form method='POST' action=" {{ url_for('hello') }}">
        <div class="form-group">
          {{ form.name.label}}
          <br>
          {{ form.name(aria_describedby="nameHelp", placeholder="Name (optional)", class="form_control")}}
        </div>
        <div class="form-group">
          {{ form.message.label }}
          <br>
          {{ form.message(aria_describedby="messageHelp", placeholder="Please write something nice!", class="form_control")}}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary")}}

          {{ form.csrf_token }}
          <br><br>
          {{ form.recaptcha }}
        </div>
      </form>
      <br>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %} {{ super() }}
{% endblock %}
