<!DOCTYPE html>
<html>

<head>
  <title>Wordcount</title>
  <script nonce="{{ csp_nonce() }}">
    alert("boop");
  </script>

  <script>
    alert("not boop")
  </script>
</head>

<body>
  <div>
    <h1>LFK 9000</h1>
    <form role="form" method='POST' action='/success'>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <input type="text" name="message" placeholder="Enter a kind message" required>
      <input type="text" name="name" placeholder="Name (optional)">
      <input type="submit" value="Send"></input>
    </form>
    <br>
  </div>
</body>

</html>
