<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('hello') }}">Little Free Kindness</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="{{url_for('view')}}">
        <li class="nav-item">
          View
        </li>
      </a>
      <a class="nav-link" href="{{url_for('rankings')}}">
        <li class="nav-item">
          Rankings
        </li>
      </a>
      <a class="nav-link" href="{{url_for('smile')}}">
        <li class="nav-item">
          Smile
        </li>
      </a>
    </ul>
  </div>
</nav>
