<!DOCTYPE html>
<html>

<head>
  <title>Notez</title>
  <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
  <script nonce="{{ csp_nonce() }}">
    function onSubmitCallback(token) {
        document.getElementById("test").submit();
    }
</script>
</head>

<body>
  <div>
    <h1>Yay</h1>
    {{ notez.name }}
    {{ notez.message }}
    {{ notez.id}}
    {{ notez.lookupId}}
    {{ notez.numViews}}
    {{ notez.numLikes}}
    {{ notez.numDislikes}}
    </form>
    <br>
  </div>
  <form id="test" method="POST" action=" {{url_for('smile')}} ">
    {{ form.like}}

    {{ form.dislike }}

    {{ form.csrf_token }}
    {{form.recaptcha}}
  </form>
</body>

</html>
