{% extends "base.html" %}
{% block title %} Report {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
{{ super() }}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8" align="center">
      <br><br>
      <h1> Report </h1>
      <p>
        <i>Please note that your IP address (<span id="ip"> {{ ip }} </span>) will be recorded to prevent abuse.</i>
      </p>
        You are reporting <kbd>{{ note.name }}</kbd> for writing:
      <br><br>
      <blockquote class="blockquote">
        "{{ note.message }}"
      </blockquote>
      <form method='POST' action=" {{ url_for('report') }}">

        <div class="form-group">
          {{ form.comments(aria_describedby="commentHelp", placeholder="Additional comments (optional)", class="form_control")}}
          <br>
          {{ form.csrf_token }}
          <br>
          {{ form.recaptcha }}
          <br>
          {{ form.submit(class="btn btn-outline-primary btn-lg")}}
        </div>
      </form>
      <br><br><br>
    </div>

  </div>
</div>
{% endblock %}
{% block scripts %} {{ super() }}
{% endblock %}
