{% extends "base.html" %}
{% block title %} View Your Note {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
{{ super() }}

<div class="container-fluid">
  <h1>look at ur post stupid</h1>
  {{ info }}
  <form method='POST' action=" {{ url_for('view') }}">
    {{ form.id.label}}
    {{ form.id}}

    {% for error in form.id.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
    {{ form.submit }}

    {{ form.csrf_token }}
  </form>
  <br>
</div>
{% endblock %}
{% block scripts %} {{ super() }}
{% endblock %}
